/* esto funcionará si la resolución mínima de la pantalla es de 1200 pixeles de ancho */
@media (min-width: 1200px) {
  body {
    font-family: 'Swis721 Lt BT Light','8970';
    src:url(../fonts/Swis721 Lt BT Light.tff);
    src:url(../fonts/8970.tff);
    font-weight: 300;
    font-size: 18px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align:left;
	margin:0 auto;
}


#logo{
	width:150px;
	margin-top:10px;
	margin-right:100px;
	position:relative;
	display:inline-block;
}

.marginheader{
	margin-top:-20px;
	margin-right:100px;
}

.paddingimages{
	
	padding-left:20px;
	
}

img{max-width:100%;}

.maincontainer{
	margin: 0 auto;
	text-align:left;
	width:80%;
	overflow:hidden;
	color:#000;
	  /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
   
    
    
}


.barcontainer{
	margin: 0 auto;
	text-align:left;
	margin-top:-30px;
	margin-bottom:10px;
	width:80%;
	height:65px;
	overflow:hidden;
	color:#000;
	  /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	
	background: -webkit-linear-gradient(left, #414141, silver); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, silver, #414141); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, silver, #414141); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, silver , #414141); /* Standard syntax (must be last) */
}

/****************Center*********************/
#ctnRegistro{
	
	margin-left:230px;
	font-size:20px;
	color: gray;
	float:left;
	width:400px;
	height:400px;
	padding: 0px 20px 0px 20px;
	  /* Styles */
   /* box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
 /* transparency*/
   /* background: -webkit-linear-gradient(right, rgba(255,0,0,0), silver); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(left, rgba(255,0,0,0), silver);  /*For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(left, rgba(255,0,0,0), silver); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(to left, rgba(255,0,0,0), silver); /* Standard syntax (must be last) */
	
	 filter:alpha(opacity=90); 
-moz-opacity:.90;
opacity:.90;
  /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	background: -moz-linear-gradient(white, #ffffff 10%);
    background: -ms-linear-gradient(white, #ffffff 10%);
    background: -o-linear-gradient(white, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(white, #ffffff 10%);
    background: linear-gradient(white, #ffffff 10%);
  
	
}

#ctnMision{
	
	margin-left:45px;
		font-size:20px;
	color: gray;
	float:left;
	width:400px;
	padding: 0px 20px 0px 20px;
	  /* Styles */
   /* box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
 /* transparency*/
   /* background: -webkit-linear-gradient(right, rgba(255,0,0,0), silver); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(left, rgba(255,0,0,0), silver);  /*For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(left, rgba(255,0,0,0), silver); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(to left, rgba(255,0,0,0), silver); /* Standard syntax (must be last) */
	
	 filter:alpha(opacity=90); 
-moz-opacity:.90;
opacity:.90;
  /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	background: -moz-linear-gradient(white, #ffffff 10%);
    background: -ms-linear-gradient(white, #ffffff 10%);
    background: -o-linear-gradient(white, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(white, #ffffff 10%);
    background: linear-gradient(white, #ffffff 10%);
  
}

#ctnMision h1{
	color: #FF8250;
	padding: 0px 0px 0px 180px;
}

#ctnRegistro h1{
	color: #FF8250;
	padding: 0px 0px 0px 220px;
}


#ctnUnder{
	
	margin:0 auto;
	text-align:center;
	font-size:18px;
	color: #fff;
	width:80%;
	padding: 0px 0px 0px 20px;
	  /* Styles */
   /* box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
 /* transparency*/
   /* background: -webkit-linear-gradient(right, rgba(255,0,0,0), silver); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(left, rgba(255,0,0,0), silver);  /*For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(left, rgba(255,0,0,0), silver); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(to left, rgba(255,0,0,0), silver); /* Standard syntax (must be last) */
	
	 filter:alpha(opacity=70); 
-moz-opacity:.70;
opacity:.70;
  /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	background: -moz-linear-gradient(gray, #000000 10%);
    background: -ms-linear-gradient(gray, #000000 10%);
    background: -o-linear-gradient(gray, #000000 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(gray), color-stop(0.1, #000000));
    background: -webkit-linear-gradient(gray, #000000 10%);
    background: linear-gradient(gray, #000000 10%);
  
	
}




/****************Parallax*****************/
#first{
	background:#000000 url(../img/parallax5.jpg) 50% 0 no-repeat fixed;
	color: white;
	overflow: hidden;
	padding: 0;
}


#second{
	background:#000000 url(../img/parallax5.jpg) 50% 0 no-repeat fixed;
	color: white;
	overflow: hidden;
	padding: 0;
}

.story{
	margin: 0 auto;
	min-width: 100%;
	overflow: auto;
}

.story .float-left, .story .float-right{
	padding: 140px 0 0 0;
	position: relative;
		
}


/*************video********************************/
.video-container {
    position: relative; 
    overflow: hidden;
    margin:0 auto;
    margin-left:230px;
	margin-top: 15px;
    height:400px;
    width:76%;
    text-align:center;
    
     /* Styles */
	border-radius: 7px;
	 box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: relative;
    width: 100%;
    height:400px;
    
     /* Styles */
	border-radius: 7px;
	 box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    
}


/***************footer******************/

.imgfooter{
	width:20%;
	margin-top: 25px;
	position:relative;

}

#barfooter{
	width:100%;
	height:100px;
	margin-top: 15px;
	position:relative;
	padding:20px;
	
}

.footer{
	margin: 0 auto;
	text-align:left;
	width:80%;
	overflow:hidden;
	margin-top: 15px;
	color:#000;
	  /* Styles */
   background:#fff;
   border-radius: 5px;
   /* transparency*/
    /*background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(225,225,225,1)); /* For Safari 5.1 to 6.0 */
/*background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(225,225,225,1)); /* For Opera 11.1 to 12.0 */
/*background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(225,225,225,1)); /* For Firefox 3.6 to 15 */
/*background: linear-gradient(to right, rgba(255,0,0,0), rgba(225,225,225,1)); *//* Standard syntax (must be last) */


background: -webkit-linear-gradient(left, white, silver); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, white, silver); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, white, silver); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, white , silver); /* Standard syntax (must be last) */
	
}

.no-vinieta{
	list-style:none;
}

.marginfooter{
	margin-top: 25px;
	padding-right: 125px;
}
/**************Dialog box****************/
.section {
  margin:0px;
  bottom:0px;
  width:1600px;
  float:left;
  height:100%;
  text-align:center;
}

#section2{
	display:none;
	
}

#section3{
	display:none;
	
}

.login-form, .signup-form, .forgot-pwd {
  background:#fff;
  /*border-radius: 4px;*/
  padding:30px;
  text-align:center;
  /*float:left;*/
  /*margin:5em 40em;*/
 margin: 0 auto;
  
   /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
	border-radius: 5px;
	
	 /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
	
	/*background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);*/
  
  filter:alpha(opacity=90); 
-moz-opacity:.90;
opacity:.90;
  
  
}
.login-form, .forgot-pwd {
  width:500px;
}
.signup-form {
  width:800px;
}

.form-wrapper-01 {
  margin: 0;
  padding: 10px 0;
}
.form-wrapper-01 .inputbox {
  border: 1px solid #eaedf2;
  border-radius:3px;
  height: 40px;
  padding: 10px 0 10px 32px;
  width: 44%;
  outline:none;
  margin-bottom:10px;
  font-family: inherit;
}
.login-form .form-wrapper-01 .inputbox {
  width:65%;
}
.form-wrapper-01 .name {
  background:#eaedf2 url(../img/user.png) 10px 13px no-repeat;
}
.form-wrapper-01 .email {
  background:#eaedf2 url(../img/email.png) 10px 15px no-repeat;
}
.form-wrapper-01 .password {
  background:#eaedf2 url(../img/password.png) 10px 10px no-repeat;
}
.form-wrapper-01 a.button {
  background: none repeat scroll 0 0 #14B9D5;
  border: none;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}
.form-wrapper-01 .button:hover {
  background:#0e778a;
}
.form-wrapper-01 a.button > i {
  font-size:20px;
}

/*Social Button Styling*/
.social {
  margin: 40px 0 10px;
}
.social a {
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  border-radius: 4px 4px 4px 4px;
  padding:20px 0;
}
.social a.facebook {
  background:#3b5998;
}
.social a.facebook:hover {
  background:#37528c;
}
.social .twitter {
  background:#1daee3;
  margin: 0 26px;
}
.social .twitter:hover {
  background:#1ca4d6;
}
.social .google {
  background:#d34836;
}
.social .google:hover {
  background:#c74534;
}
.social .facebook > i, .social .twitter > i, .social .google > i {
  border-radius: 4px 0 0 4px;
  bottom: 3px;
  font-size: 38px;
  padding: 10px 14px;
  position: relative;
  vertical-align: middle;
  clear: both;
}
.social .facebook > span, .social .twitter > span, .social .google > span {
  font-size: 18px;
  letter-spacing: 0.06em;
  padding:24px 20px 24px 0;
}




/*popup*/
#element_to_pop_up { display:none; }


.btnclose{
	display: block;
	float:right;
	margin-top: -40px;
	margin-right:-35px;
}

}